@inherits PlComponentBase

<div class="@ClassMerge("space-y-2 relative flex flex-col", Class)">
  @if (!string.IsNullOrWhiteSpace(Label))
  {
    <FieldLabel HtmlFor="@For">@Label</FieldLabel>
  }
  @ChildContent
</div>

@code {
  /// <summary>
  /// The content to be rendered inside the component.
  /// </summary>
  [Parameter] public RenderFragment? ChildContent { get; set; }

  /// <summary>
  /// The text label displayed.
  /// </summary>
  [Parameter] public string Label { get; set; } = string.Empty;

  [Parameter] public string? For { get; set; }
}