@inherits PlComponentBase

<div
  @attributes="AdditionalAttributes"
  id="@Id"
  class="@ClassMerge("flex flex-col space-y-1.5 p-6", Class)"
>
  @ChildContent
</div>

@code {
  /// <summary>
  /// The content to be rendered inside the component.
  /// </summary>
  [Parameter] public RenderFragment? ChildContent { get; set; }
}
