<div class="@Css.Class("flex items-center justify-start", Class)">
  @if (ConfigurationUtils.IsDevelop)
  {
    <Badge Type="BadgeType.Outline" Class="mr-3">DEV</Badge>
  }
  <DesktopLogo IsSmall/>
  <span class="pb-1 pl-1 text-sm">@VersionTracking.CurrentVersion</span>
</div>

@code {
  [Inject] private IStringLocalizer<ApplicationResources> Localizer { get; set; } = default!;

  [Parameter] public string Class { get; set; } = string.Empty;
}
