@using Pl.Admin.Client.Source.Shared.Constants
@using Blazor.Heroicons.Outline

@attribute [Route(Urls.Home)]
@attribute [Authorize]

<div class="divide-x justify-center flex">
  <a href="#welcome" class="px-5 text-primary underline-offset-4 text-sm font-medium hover:underline">Palleto</a>
  <a href="#func" class="px-5 text-primary underline-offset-4 text-sm font-medium hover:underline">Функционал</a>
  <a href="#guides" class="px-5 text-primary underline-offset-4 text-sm font-medium hover:underline">Статьи</a>
</div>

<div id="welcome" class="h-[70vh] flex items-center justify-center">
  <div class="flex flex-col items-center max-w-2xl">
    <div>
      <Badge Type="BadgeType.Outline" Class="mb-3">
        <BoltIcon class="size-3.5 mr-1.5" />
        Новый дизайн
      </Badge>
    </div>
    <h2 class="text-center text-6xl font-medium tracking-tighter">
      Управлять паллетами стало еще легче
    </h2>
    <div class="flex gap-3 w-fit mt-9">
      <a href="#func">
        <Button Variant="ButtonVariantType.Secondary" class="!rounded-full">
          <ArrowLeftIcon class="mr-2 size-[1.1rem]" />
          Узнать больше
        </Button>
      </a>
      <a href="https://github.com/ElixorTeam/Palleto">
        <Button Variant="ButtonVariantType.Outline" class="!rounded-full">
          <CodeBracketIcon class="mr-2 size-[1.1rem]" />
          Github
        </Button>
      </a>
    </div>
  </div>
</div>

<h2 id="func" class="text-center text-3xl mb-6 font-medium tracking-tighter">Реальные возможности</h2>

<div class="max-w-4xl mx-auto grid grid-cols-3 gap-6 mb-20">
  <div class="rounded-lg flex flex-col border shadow-sm col-span-2 h-56">
    <div class="w-full p-4">
      <h4 class="font-bold">
        Конфигуратор штрихкодов
      </h4>
      <p class="text-muted-foreground text-sm">
        Собрать штрихкод любой длины из реальный данных
      </p>
    </div>
    <div class="size-full relative overflow-hidden select-none">
      <span class="absolute top-8 text-5xl text-muted-foreground left-8">01146071002372253103007500112411251724</span>
      <div class="absolute h-14 w-[184px] rounded border-blue-500 bg-blue-500/10 border-2 border-dashed top-7 left-20"></div>
      <div class="absolute h-14 w-[142px] rounded border-blue-500 bg-blue-500/10 border-2 border-dashed top-7 left-[404px]"></div>
    </div>
  </div>
  <div class="rounded-lg flex flex-col shadow-sm border h-56">
    <div class="w-full p-4">
      <h4 class="font-bold">
        Шаблоны этикеток
      </h4>
      <p class="text-muted-foreground text-sm">
        Изменение zpl шаблона в реальном времени
      </p>
    </div>
    <div class="size-full px-6 pb-6">
      <div class="rounded-md size-full p-4 flex flex-col gap-2 overflow-hidden border">
        <Skeleton class="h-4 w-28" />
        <Skeleton class="h-4 w-full" />
      </div>
    </div>
  </div>
  <div class="rounded-lg flex flex-col shadow-sm border h-56">
    <div class="w-full p-4">
      <h4 class="font-bold">
        Поддержка принтеров
      </h4>
      <p class="text-muted-foreground text-sm">
        Работа с Zebra и TSK принтерами
      </p>
    </div>
    <div class="size-full flex items-center justify-center relative">
      <PrinterIcon class="size-28 text-muted-foreground stroke-[0.4]"/>
      <div class="size-2 absolute left-[164px] top-[62px] rounded-full bg-green-500 overflow-hidden animate-ping"></div>
    </div>
  </div>
  <div class="rounded-lg flex flex-col border shadow-sm col-span-2 h-56">
    <div class="w-full p-4">
      <h4 class="font-bold">
        Аналитика производства
      </h4>
      <p class="text-muted-foreground text-sm">
        Просмотр работы производства в реальном времени
      </p>
    </div>
    <div class="size-full pl-2 pr-4 pb-4">
      <LineChart
        Data="@(Enumerable.Range(0, 10).Select(_ => (decimal?)(Random.NextDouble() * 10)).ToList())"
        Labels="@(Enumerable.Repeat(string.Empty, 10).ToList())"
        Clear
      />
    </div>
  </div>
  <div class="rounded-lg flex flex-col border shadow-sm col-span-2 h-56">
    <div class="w-full p-4">
      <h4 class="font-bold">
        Общение с мастер данными
      </h4>
      <p class="text-muted-foreground text-sm">
        Синхронизация данных о паллетах со внешним сервисом
      </p>
    </div>
    <div class="size-full flex flex-col items-center justify-center overflow-hidden">
      <div class="relative w-full h-px bg-muted">
        <div class="absolute w-5 h-1.5 -top-[2px] left-[110%] rounded-full bg-primary animate-move-horizontal" style="animation-delay: 0.7s;"></div>
      </div>
      <div class="relative w-full h-px bg-muted mt-10">
        <div class="absolute w-5 h-1.5 -top-[2px] -left-[10%] rounded-full bg-primary animate-move-horizontal" style="animation-direction: reverse;"></div>
        <div class="absolute w-5 h-1.5 -top-[2px] -left-[10%] rounded-full bg-primary animate-move-horizontal"
             style="animation-delay: 0.3s;animation-direction: reverse;"></div>
      </div>
    </div>
  </div>
  <div class="rounded-lg flex flex-col shadow-sm border h-56">
    <div class="w-full p-4">
      <h4 class="font-bold">
        Приложение для нескольких платформ
      </h4>
      <p class="text-muted-foreground text-sm">
        Web, Android, Windows
      </p>
    </div>
    <div class="size-full flex items-center justify-center pb-4 gap-6">
      <div class="size-16 p-3 relative border rounded-md">
        <DevicePhoneMobileIcon class="size-full stroke-[0.8]" />
        <div class="absolute rounded-full bg-primary overflow-hidden size-4 animate-pulse -bottom-1.5 -right-1.5"></div>
      </div>
      <div class="size-16 p-3 relative border rounded-md">
        <ComputerDesktopIcon class="size-full stroke-[0.8]" />
        <div class="absolute rounded-full bg-primary overflow-hidden size-4 animate-pulse -bottom-1.5 -right-1.5"></div>
      </div>
    </div>
  </div>
</div>

<h2 id="guides" class="text-center text-3xl mb-6 font-medium tracking-tighter">Полезные статьи</h2>

<div class="w-full max-w-2xl mx-auto mb-10">
  <ul class="flex flex-col gap-3 w-full">
    <li class="w-full">
      <a href="@Urls.PrinterControlGuide" class="w-full rounded-lg border shadow-sm flex gap-1 items-center h-12 px-4 overflow-hidden transition-colors hover:bg-secondary">
        <BookOpenIcon class="size-5 mr-2 pb-px" />
        <span class="font-medium">Работа с принтерами на сайте</span>
        <Badge Type="BadgeType.Secondary">2 мин</Badge>
      </a>
    </li>
    <li class="w-full">
      <a href="@Urls.ErrorReportGuide" class="w-full rounded-lg border shadow-sm flex gap-1 items-center h-12 px-4 overflow-hidden transition-colors hover:bg-secondary">
        <BookOpenIcon class="size-5 mr-2 pb-px" />
        <span class="font-medium">Репорт ошибок приложений</span>
        <Badge Type="BadgeType.Secondary">3 мин</Badge>
      </a>
    </li>
  </ul>
</div>

@code {
  [Inject] private IStringLocalizer<ApplicationResources> Localizer { get; set; } = default!;
  private Random Random { get; } = new();
}