@page "/not-found"
<PageTitle>Admin - 404</PageTitle>

<div class="size-full flex items-center justify-center">
  <div class="flex items-center">
    <h1 class="text-xl font-medium inline-block mr-3 pr-3 border-r border-gray-200">
      404
    </h1>
    <h2 class="text-sm font-normal m-0">
      @Localizer["NotFoundMessage"]
    </h2>
  </div>
</div>


@code {
  [Inject] private IStringLocalizer<ApplicationResources> Localizer { get; set; } = default!;
}
