@using Blazor.Heroicons.Outline

<div class="w-full h-[3.25rem] shrink-0 border-b bg-background">
  <div class="size-full max-w-screen-2xl mx-auto px-8 flex items-center justify-between">
    <HeaderAppName Class="shrink-0 w-2/5" />
    <div class="w-1/5 flex items-center justify-center">
      <Clock />
    </div>
    <div class="w-2/5 flex items-center">
      <div class="flex grow size-full">
        @ChildContent
      </div>
      <Button Link="@Routes.Home" Variant="ButtonVariantType.Outline">
        <HomeIcon class="size-5 mr-2"/>
        <span>@Localizer["BtnMenu"]</span>
      </Button>
    </div>
  </div>
</div>

@code {
  [Inject] private IStringLocalizer<ApplicationResources> Localizer { get; set; } = default!;
  [Parameter] public RenderFragment? ChildContent { get; set; }
}
