# EditorConfig is awesome: https://EditorConfig.org
# https://github.com/RehanSaeed/EditorConfig/blob/main/.editorconfig
root = true

[*]
tab_width = 4
indent_size = 4
charset = utf-8
end_of_line = crlf
max_line_length = 120
insert_final_newline = false
indent_style = space
trim_trailing_whitespace = true

[**/{Migrations}/**]
generated_code = true

[**.{html,css,scss,js,cshtml,razor,json,yml}]
indent_size = 2
tab_width = 2