@using DeviceControl.Source.Shared.Constants

@attribute [Route($"{Urls.Analytics}")]
@attribute [Authorize(Policy = PolicyEnum.Admin)]
@rendermode InteractiveServer

<DataGridHeader>
  <span>@Localizer["SectionAnalytics"]</span>
</DataGridHeader>

<div class="w-full p-4 grid gap-4 lg:grid-cols-2">
  <ArmDayPerfomance />
  <ArmsTop />
  <ArmDayPerfomance />
  <ArmsTop />
</div>


@code {
  [Inject] private IStringLocalizer<ApplicationResources> Localizer { get; set; } = default!;
}