@using Pl.Admin.Client.Source.Shared.Constants
@using Blazor.Heroicons.Outline

<a href="@Urls.Home" class="flex gap-2 items-center hover:text-foreground">
  <HomeIcon class="size-4" />
  <span>Домой</span>
</a>