<div class="@Css.Class("pb-2 flex gap-2 text-sm text-muted-foreground items-center", Class)">
  @if (Start == BreadcrumbStart.Home)
  {
    <BreadcrumbHome />
  }
  else if (Start == BreadcrumbStart.Back)
  {
    <BreadcrumbBack />
  }

  @ChildContent

</div>

@code {
  [Parameter] public string Class { get; set; } = string.Empty;
  [Parameter] public RenderFragment? ChildContent { get; set; }
  [Parameter] public BreadcrumbStart Start { get; set; } = BreadcrumbStart.Home;
}