<aside class="sticky top-0 z-10 flex-col bg-primary-foreground p-2 w-64 h-screen border-r dark:bg-secondary/10">
  <div class="size-full flex flex-col" data-sidebar="sidebar">
    <SidebarLogo />
    <SidebarMenu />
    <div class="pb-0.5">
      <SidebarProductionSite />
    </div>
    <SidebarUser />
  </div>
</aside>
