@import 'tailwindcss';
@import "../../../../Libs/Pl.Components/wwwroot/app.css";

@source "../../../../Libs/Pl.Components/";

@theme {
  --animate-move-horizontal: move-horizontal 1s ease-in-out infinite;

  @keyframes move-horizontal {
    0% {
      left: 110%
    }
    100% {
      left: -10%
    }
  }
}