@using Pl.Admin.Client.Source.Shared.Constants
@using Blazor.Heroicons.Outline

@attribute [Route(Urls.ErrorReportGuide)]

<div class="max-w-3xl mx-auto mb-15">
  <Breadcrumbs>
    <Breadcrumb Label="Репорт ошибок приложений" />
  </Breadcrumbs>

  <h1 class="text-3xl font-medium my-6">Репорт ошибок приложений</h1>

  <p class="my-5">
    Как и в любом другом приложении, в нашей системе могут возникать ошибки. Ошибки могут быть как логическими (например,
    когда процесс работы приложения спроектирован неправильно), так и техническими, которые могут полностью остановить
    работу приложения. В этой статье мы расскажем, как правильно определить ошибку и как объяснить её разработчикам.
  </p>

  <p class="my-5">
    Технические ошибки — это те, которые могут повлиять на работоспособность приложения, иногда настолько сильно, что
    приложение не может продолжить работу. В нашей системе, например, при возникновении критической ошибки управление с
    приложением может быть полностью потеряно. Такая ошибка сигнализируется с помощью красного уведомления в нижнем
    правом углу экрана.
  </p>

  <div class="my-10 w-full flex items-center justify-center">
    <div class="size-12 p-2 rounded-md overflow-hidden bg-background border shadow-sm">
      <ExclamationTriangleIcon class="size-full text-destructive" />
    </div>
  </div>

  <h2 class="text-2xl font-medium border-t mb-5 mt-10 pt-10">Что делать, если произошла ошибка?</h2>

  <p class="my-5">
    В случае технической ошибки единственный способ восстановить работоспособность приложения — это перезагрузить
    страницу (нажать F5). Если по каким-то причинам перезагрузка страницы невозможна, нужно перезапустить приложение.
  </p>

  <p class="my-5">
    Если вы столкнулись с ошибкой, обратите внимание на сценарий работы, при котором она произошла. Это поможет нам
    быстрее понять причину и воспроизвести проблему. Если у вас есть возможность открыть консоль разработчика (для этого
    нажмите клавишу F12), перейдите во вкладку "Консоль" и посмотрите, что там выделено красным цветом. Это описание
    ошибки. Скопируйте или сделайте снимок экрана с этим сообщением.
  </p>

  <p class="my-5">
    Теперь, когда у вас есть необходимая информация, вы готовы отправить отчёт об ошибке. Для этого перейдите в чат
    технической поддержки или создайте Issue на нашей странице на GitHub. В описании ошибки постарайтесь как можно
    точнее рассказать, какие шаги вы предприняли перед тем, как ошибка произошла. Также обязательно приложите текст
    ошибки из консоли, если он имеется. Чем более подробным будет ваше описание, тем быстрее мы сможем локализовать
    и устранить ошибку.
  </p>

  <h2 class="text-2xl font-medium border-t mb-5 mt-10 pt-10">Почему это важно?</h2>

  <p class="my-5">
    Каждое ваше сообщение помогает нам сделать приложение лучше и стабильнее. Ваша обратная связь ценна, и с её помощью
    мы можем оперативно устранять проблемы и улучшать пользовательский опыт. Спасибо за вашу помощь!
  </p>
</div>
