@using Pl.Admin.Client.Source.Shared.Constants

@attribute [Route(Urls.PrinterControlGuide)]

<BrowserTitle Label="Работа с принтерами на сайте" />

<div class="max-w-3xl mx-auto mb-15">
  <Breadcrumbs>
    <Breadcrumb Label="Работа с принтерами на сайте" />
  </Breadcrumbs>

  <h1 class="text-3xl font-medium my-6">Работа с принтерами на сайте</h1>

  <p class="my-5">
    В нашей системе работа с принтерами занимает важное место, так как принтеры часто используются для печати различных
    этикеток. Подключение к принтерам может быть не всегда удобным процессом, поскольку необходимо знать IP-адрес
    принтера для доступа к его веб-интерфейсу. На страничке принтера вы всегда можете найти прямую ссылку для быстрого
    подключения к принтеру.
  </p>

  <p class="my-5">
    Вместо того, чтобы открывать отдельную вкладку для настройки принтера, вы можете легко подключиться к его
    веб-интерфейсу прямо через наш веб приложение. Для этого перейдите на страницу просмотра принтера и выберите пункт
    "Управление". На этой странице в специальном окне будет загружен веб-интерфейс принтера, через который вы сможете
    настроить его параметры, не покидая нашего сайта.
  </p>

  <h2 class="text-2xl font-medium border-t mb-5 mt-10 pt-10">Проблема с безопасным подключением</h2>

  <p class="my-5">
    Однако, существует одна важная деталь, о которой следует помнить. Мы подключаемся к принтерам через их IP-адрес без
    использования защищенного протокола (https), поэтому браузеры могут заблокировать попытку открыть веб-интерфейс
    принтера внутри нашего сайта. Чтобы обойти это ограничение, вам нужно изменить некоторые настройки в вашем браузере.
  </p>

  <p class="my-5">
    К сожалению, с нашей стороны мы не можем исправить эту ситуацию, но предлагаем решения для браузеров Chrome и
    Firefox, которые помогут вам подключиться к принтеру
  </p>

  <h2 class="text-2xl font-medium border-t mb-5 mt-10 pt-10">Google Chrome</h2>

  <ul class="my-5 flex flex-col gap-2">
    <li>1. Находясь на странице управления принтером, нажмите на значок настроек слева от адреса сайта в адресной строке.</li>
    <li>2. В появившемся меню выберите "Настройки сайта".</li>
    <li>3. Перейдите в раздел, где можно управлять правами для этого сайта.</li>
    <li>4. Найдите пункт "Небезопасный контент" и установите его значение на "Разрешать".</li>
    <li>5. Перезагрузите страницу — теперь вы сможете подключаться и управлять принтерами внутри нашего приложения.</li>
  </ul>

  <h2 class="text-2xl font-medium border-t mb-5 mt-10 pt-10">Firefox</h2>

  <ul class="my-5 flex flex-col gap-2">
    <li>1. На странице управления принтером, нажмите на замок в адресной строке слева от URL.</li>
    <li>2. В меню, которое откроется, выберите "Защищенное соединение".</li>
    <li>3. Появится кнопка "Пока отключить защиту" — нажмите её.</li>
    <li>4. Страничка перезагрузится и вы получите доступ.</li>
  </ul>

  <p class="my-5">
    Важно: эта кнопка появится только после того, как браузер заблокирует попытку обращения к принтеру, и только после
    этого выполняйте указанные шаги. Также Firefox может не запомнить ваш выбор, и вам придется повторно отключить
    защиту для этого сайта.
  </p>
</div>
