@using Blazor.Heroicons.Outline

<Button Variant="ButtonVariantType.Outline" OnClick="@OpenShareDialog">
  <ShareIcon class="size-4 mr-2"/>
  <span class="sr-only sm:not-sr-only">Поделиться</span>
</Button>

@code {
  [Inject] private IDialogService DialogService { get; set; } = default!;
  [Inject] private PageHelper PageHelper { get; set; } = default!;
  [Parameter, EditorRequired] public string Link { get; set; } = string.Empty;

  private Task OpenShareDialog() => DialogService.ShowDialogAsync<ShareUrlDialog>(Link, PageHelper.DialogParameters);
}
